:local(.sourceInput) {
  display: block;
  width: 288px;
  font-size: 10px;
  line-height: 34px;
  color: #333333;
  border: 1px solid #AAAAAA;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  border-radius: 4px 4px 0px 0px;
}

:local(.sourceInput:focus) {
  outline: none;
}

:local(.jsonViewer) {
  display: block;
  font-family: Courier;
  resize: none;
  font-size: 12px;
  width: 278px;
  height: 400px;
  background-color: #EEEEEE;
  padding: 10px;
}

:local(.jsonViewer:focus) {
  outline: none;
}

:local(.applyBtn) {
  display: block;
  width: 300px;
  line-height: 34px;
}
